// Place all the styles related to the admins::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genres{
	background-color:#fbe4e7;
	border: 10px solid #fbe4e7;
	border-radius: 8px;
	border-spacing: 0;
	border-collapse: separate;
	padding: 0;
}

.genres_head{
	color:#5c2534;
}
.genres_body a{
	color:#5c2534;
}
