<<<<<<< HEAD:app/assets/stylesheets/members/homes.scss
// Place all the styles related to the members::homes controller here.
=======
// Place all the styles related to the admins::orderDetail controller here.
>>>>>>> b72dd2bc23254e452e99fd3e1e292e39e617a80c:app/assets/stylesheets/admins/order_detail.scss
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
