// Place all the styles related to the admins::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#product_sale_status {
	height:38px;
	width:100px;
}

#product_genre_id {
	height:38px;
	width:150px;
}

.product_new_icon{
	color: gray;
}
