// Place all the styles related to the members::members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tbody1 {
	width:30%;
	background-color:#f8f8ff
}

.tbody2 {
	width:70%;
	background-color:#ffffff;
}
