#cart_item_number_of_products {
	height:34.5px;
	width:60px;
}
.page-link{
	width: 75px;
	text-align: center;

}
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}
