<div class="container">
  <div class="row mt-3">
    <div class="col-xs-3">
      <h2>あやちゃん担当</h2>
      <p>ジャンル検索ページが表示されます。<br>ここは部分テンプレートです。</p>
    </div>
    <div class="col-xs-9 ml-5">
      <h2>商品一覧<span>全●件</span></h2>
      <div class="img-index">
        <p>画像が貼られます</p>
      </div>
      <div class="name">
        <p>商品名が表示されます</p>
      </div>
      <div class="price">
        <p>商品価格が表示されます</p>
      </div>
    </div>
  </div>
</div>
