<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>あやちゃん担当</h2>
      <p>ジャンル検索ページ<br>(ここの箇所は部分テンプレートです。)</p>
    </div>
    <div class="col-xs-9 ml-5">
      <div class="img-show">
      </div>
      <div class="products-show">
        <h2>商品名</h2>
        <p>商品内容</p>
        <p>価格</p>
      </div>
      <div class="form-show">
        <!-- 個数選べる
        カートにいれるボタン -->
      </div>
    </div>
  </div>
</div>
