<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render partial: 'layouts/genres_sidebar' %>
    </div>
    <div class="col-xs-9 ml-5">
      <div>
        <p>ようこそ、NaganoCakeへ!<br>
        このサイトでは、ケーキ販売のECサイトになります。<br>
        会員ではない方も商品の閲覧はできますが,<br>
        購入には会員登録が必要になります。</p>
      </div>
      <div>
        <h2>オススメ商品</h2>
        <% @products.each do |products| %>
        <%= attachment_image_tag(products, :product_image, :fill, 100, 100) %>
        <%= products.product_name %>
        <%= "¥#{products.price_excluding_tax}" %>
        <% end %>
    </div>
  </div>
</div>
