<div class="continer" style="margin:5vw 50px 0;">
    <div class="row">
      <div class="col-2"><%= flash[:notice] %></div>
      <div class="col-2 text-center">
	       <h5 class="bg-info text-white rounded p-1 mt-5">管理者画面</h5>
      </div>
    </div>
    <div class="row" style="margin-top:50px;">
      <div class="col-5 text-right">
        <h5>本日の注文件数
 	      <ins><%= link_to @number_of_orders, admins_orders_path(page_id: 2), class:"link_font_color" %></ins> 件
       </h5>
      </div>
    </div>
</div>

<!-- justify-content-center  中央ぞろえ-->
<!-- align-items-center 垂直方向の中央揃え-->
<!-- style="margin:10vw 50px 0;"  -->
