<div class="continer">
	<div class="row">
     <div class="col-md-2">
	 <div class="text-center">
	  <div class="bg-info text-white">管理者画面</div>
     </div>
    </div>
   </div>
</div>


<h5>本日の注文件数 件</h5>