/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color:#fbe9b7; /*サイト全体の背景色*/
	font-family: "Hiragino Sans CNS",
	"Yu Gothic";
}

.navbar-brand{
	font-family: "Chalkduster",
	"Segoe Script",
	"Ink Free",
	"Arial";
}

.nav-item{
	font-family: "Hiragino Sans CNS",
    "Yu Gothic",
    "Meiryo";
}

.btn-nav:hover {
 	background-color:#50232d;
 	border-color: #492029;
}
.genres{
	background-color:#fbe4e7;
	border: 10px solid #fbe4e7;
	border-radius: 8px;
	border-spacing: 0;
	border-collapse: separate;
	padding: 0;
}

.genres_head{
	color:#5c2534;
}

.genres_body a{
	color:#5c2534;
}

.link_font_color{
	color: #696969;
}

.select-number{
	height:33px;
}

.footer{
	margin-top: 30px;
	background-color:#ce3c63;
	color: white;
}

#choice {
	height:28px;
}

.pagination {
  justify-content: center;
}
