<div class="container" style="margin:4vw 50px 0;">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2 text-center">
      <h5 class="text-light bg-info">注文履歴詳細</h5>
	</div>
  </div>
</div>
<div class="container">
	<div class="row">
		<label class="col-md-2">購入者</label>
		<div class="col-md-10">
			<%#= link_to @orderer.member_id.first_name, admins_orders_show_path %>
		</div>
		<label class="col-md-2">配送先</label>
		<div class="col-10">
			<%#= @orderer.postal_code %>
			<%#= @orderer.address %>
			<%#= @orderer.address_name %>
		</div>
		<label class="col-md-2">支払方法</label>
		<div class="col-10">
			<%#= @orderer.method_of_payment %>
		</div>
		<label class="col-md-2">支払いステータス</label>
		<div class="col-5 row">
			<%#= form_for @orderer do |f| %>
			<select class="custom-select col-5" id="inlineFormCustomSelect">
     		    <option selected>Choose...</option>
    		    <option value="1">
    		    	<%#= f.option :order_status, :入金待ち %>入金待ち
    		    </option>
   	 		    <option value="2">
   	 		    	<%#= f.option :order_status, :入金確認 %>入金確認
   	 		    </option>
     		    <option value="3">
     		    	<%#= f.option :order_status, :製作中 %>製作中
     		    </option>
     		    <option value="4">
     		    	<%#= f.option :order_status, :発送準備中 %>発送準備中
     		    </option>
     		    <option value="5">
     		    	<%#= f.option :order_status, :発送済み %>発送済み
     		    </option>
      		</select>
      		<%# end %>
      		<button type="submit" class="btn btn-secondary mx-2">更新</button>
		</div>
		<div class="col-5"></div>
		<!-- ↑入り込み防止のcol-5 -->
	</div>
</div>

<div class="container mt-5">
	<div class="row py-5">
		<div class="col-8 row juitify-content-center">
			<table class="table" style="table-layout:fixed;">
				<thead>
					<tr>
						<th scope="col" style="width:50px;">商品名</th>
						<th style="width:50px;">単価(税込)</th>
						<th style="width:50px;">数量</th>
						<th style="width:50px;">小計</th>
						<th style="width:50px;">製作ステータス</th>
						<th style="width:50px;"></th>
					</tr>
				</thead>
				<tbody>
					<%#　@order_products.each do |order| %>
					<tr>
						<td><%#= order.product_id.product_name %></td>
						<td><%#= order.price %></td>
						<td><%#= order.purchase_quantity %></td>
						<td><%#= order.production_status %></td>
						<td><div class="form-row align-items-center">
						   		 <div class="col-auto my-1">
						     		 <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
						     		 <%#　@order_products.each do |order| %>
						     		 <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
						     		    <option selected>Choose...</option>
						    		    <option value="1">
						    		    	<%#= f.option :order_status, :着手不可 %>着手不可
						    		    </option>
						   	 		    <option value="2">
						   	 		    	<%#= f.option :order_status, :製作待ち %>製作待ち
						   	 		    </option>
						     		    <option value="3">
						     		    	<%#= f.option :order_status, :製作中 %>製作中
						     		    </option>
						     		    <option value="4">
						     		    	<%#= f.option :order_status, :製作完了 %>製作完了
						     		    </option>
					      		</select>
							</div></td>
						<td> <button type="submit" class="btn btn-secondary">更新</button></td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="row col-3 align-items-center py-5 mx-5">
			<div class="col-5 text-right">商品合計</div>
			<div class="col-6">
				<%#= @order_products.count %>
			</div>
			<div class="col-5 text-right">送料</div>
			<div class="col-6">
				<%#= @order.shipping_free %>
			</div>
			<div class="col-5 text-right">請求金額合計</div>
			<div class="col-6">
				<%#= @order.confirmed_purchase_price %>
			</div>
	    </div>
</div>



