<table class="table table-borderless genres">
    <thead class="genres_head">
        <th style="text-align: center;">～ジャンル検索～</th>
    </thead>
    <tbody class="genres_body">
        <% @genres.each do |genre| %>
        <tr>
          <% if genre.valid_invalid == "Validity" %>
            <td style="text-align: center;">
                <%= attachment_image_tag(genre, :genre_image, style:"width:30px; height:30px;") %>

                <%= link_to genre.name ,members_genre_path(genre.id) %>
            </td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
</table>


