<table class="genres">
	<thead class="genres_head">
		<th>ジャンル検索</th>
	</thead>
	<tbody class="genres_body">
		<tr>
			<span src="cake.png"></span><%= link_to "ケーキ" %>
		</tr>
		<tr>
			<span src="cookie.png"></span><%= link_to "焼き菓子" %>
		</tr>
		<tr>
			<span src="pudding.png"></span><%= link_to "プリン" %>
		</tr>
		<tr>
			<span src="candy.png"></span><%= link_to "キャンディ" %>
		</tr>
	</tbody>
</table>